html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b62242;
    color: #fff;
    padding: 20px;
}

.header-items {
    display: flex;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    height: 112px;
}

nav {
    position: absolute;
    right: 0;
    display: flex;
    flex-flow: column wrap;
}

header h1 a, header h1 a:active {
    text-decoration: none;
    color: #fff;
}

h1 {
    margin: 0;
    margin-left: 30px;
}

h2 {
    margin: 0;
    margin-top: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-right: 20px;
    margin-bottom: 10px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

nav li a:hover, .active {
    text-decoration: underline;
}

main {
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    height: auto;
}

table {
    border-collapse: collapse; 
    text-align: center;
}

td, th {
    padding: 8px;
    border: 1px solid black; 
}

th {
    background: #c5c5c5;
}

.main-content {
    margin-bottom: 50px;
}

.top-table {
    display: flex;
    flex-direction: row;
}

.newdates {
    width: 220px;
}

#filter-block {
    margin-left: 40px;
}

button {
    background: transparent;
}

#amount {
    border:0;
    color:#f6931f;
    font-weight:bold;
}

h3 {
    margin-top: 0;
    text-align: center;
}

.newdates-item {
    margin-bottom: 10px;
}

.newdates-item input, .newdates-item select {
    padding: 5px;
    width: 170px
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

header h1 a, header h1 a:active {
    text-decoration: none;
    color: #fff;
}

.multiselect {
    width: 123px;
    padding-right: 10px;
}
  
.selectBox {
    position: relative;
}
  
.selectBox select {
    width: 100%;
}
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  
#checkboxes1, #checkboxes2 {
    position: absolute;
    z-index: 10;
    display: none;
    border: 1px #dadada solid;
    background-color: #fff;
    padding: 12px;
    padding-top: 0;
}
  
#checkboxes1 label, #checkboxes2 label {
    display: block;
}
  
#checkboxes1 label:hover, #checkboxes2 label:hover {
    background-color: #1e90ff;
}

.row {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.date {
    margin-right: 10px;
}

footer {
    background-color: #333;
}

.errors, .messages {
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;;
    margin-top: 30px;
    padding: 8px;
}

.errors {
    border: solid 3px rgb(184, 0, 0);
}

.messages {
    border: solid 3px rgb(0, 151, 0);
}

ol {
    margin: 0;
    padding-right: 10px;
    padding-left: 20px;
}
